# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# PyInstaller
*.spec

# IDE
.vscode/
.idea/

# Virtual environment
venv/
.venv/

# PyInstaller
dist/

# Project Specific
export_*.png
export_*.jpg
export_*.jpeg
